<div class="row">
  <div class="col-md-8">
  <form (ngSubmit)="submitQualificationsForm()" [formGroup]="qualificationsForm" novalidate>

    <h2 class="">Minimum Requirements</h2>
      <div class="alert alert-light">Any requirements you may have for an applicant can be outlined here.</div>

      <text-input [formGroup]="qualificationsForm" label="Course Code" name="courseCode" validate="true"></text-input>
      <text-input [formGroup]="qualificationsForm" label="Degree/Field of study" placeholder="preferred degree/ field of study" name="degree" validate="true"></text-input>
      <text-input [formGroup]="qualificationsForm" label="Required Weekly Hours of Applicant" placeholder="ex. 20" name="requiredTAHours" validate="true"></text-input>
      <text-input [formGroup]="qualificationsForm" label="Other" placeholder="Any other requirements" name="requiredDescription" validate="true"></text-input>


      <button [disabled]="qualificationsForm.invalid" type="submit" class="btn btn-primary">Submit</button>


  </form>
</div>
</div>
