<div style="text-align: center; color: 	#9932CC; font-family: Georgia, serif;"><h1>Instructor Postings</h1></div>

<br>
<div>
  <form>
    <div class="mb-3">
      <div style ="color: #9932CC;"><h2>Minimum Requirements</h2></div>
      <div style="color: grey;"><i><h5>  Any requirements you may have for an applicant can be outlined here. All fields are optional</h5></i>

      </div>
    </div>
    <br>
    <div>
      <label  class="form-label"><b>Degree/Field of study:</b></label>
      <input type="text" class="form-control" id="qualificationsFormDegree" placeholder="preferred degree/ field of study">

    </div>
    <br>

    <div>
      <label  class="form-label"><b>Experience</b>:</label>
      <input type="text" class="form-control" id="qualificationsFormExperience1" placeholder="minimum required experience #1">
      <input type="text" class="form-control" id="qualificationsFormExperience2" placeholder="minimum required experience #2">
      <input type="text" class="form-control" id="qualificationsFormExperience3" placeholder="minimum required experience #3">
    </div>
    <br>

    <div>
      <label  class="form-label"><b>Other</b></label>
      <input type="text" class="form-control" id="qualificationsFormOther1" placeholder="other requirement #1">
      <input type="text" class="form-control" id="qualificationsFormOther2" placeholder="other requirement #2">
      <input type="text" class="form-control" id="qualificationsFormOther3" placeholder="other requirement #3">
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<br>
<br>
<div>

  <form>
    <div class="mb-3">
      <div style ="color: #9932CC;"><h2>Questions for Applicants</h2></div>
      <div style="color: grey;"><i><h5>  Any questions you may have for an applicant to respond to can be determined below. All fields are optional</h5></i>

      </div>
    </div>
    <br>
    <div>
      <label  class="form-label"><b>Questions:</b></label>
      <input type="text" class="form-control" id="questionsFormQ1" placeholder="Question#1">
      <input type="text" class="form-control" id="questionsFormQ2" placeholder="Question#2">
      <input type="text" class="form-control" id="questionsFormQ3" placeholder="Question#3">
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
