<h1> Upload TA Responses spreadsheet</h1>

<div class="row ">
    <div class="col-12 col-md-9 col-lg-8 mb-5">
        <div class="card card-fill">
            <div class="card-body">

                <!-- Text -->
                <p class="text-muted mb-5">
                    Please upload a spreadsheet containing the TA responses. After uploading, you'll be able to see the imported responses.
                </p>

                <p *ngIf="successUpload" class="lead text-success font-weight-bold">
                    <i class="fe fe-check"></i> User Responses have successfully been imported!
                </p>

                <div *ngIf="!successUpload">
                    <input
                            type="file" class="d-none"
                            (change)="onFileSelected($event)" #fileUpload>

                    <div class="file-upload">

                        <p *ngIf="fileName">{{ fileName }}</p>

                        <button
                                class="btn btn-white"
                                (click)="fileUpload.click()">
                            <i class="fe fe-upload"></i> Click to choose file
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<h2 *ngIf="allResponses?.length > 0">Imported Responses</h2>

<div *ngIf="allResponses?.length  === 0" class="alert alert-light">
    There are no TA responses uploaded.
</div>


<div *ngFor="let response of allResponses">
<app-ta-response-card [response]="response"></app-ta-response-card>
</div>
