<div [formGroup]="formGroup" class="form-group"   [ngClass]="{
    'is-invalid': !formGroup.controls[name].valid && formGroup.controls[name].dirty
}">
  <label  class="form-label"><b>{{ label }}:</b></label>
<!--  <input  type="text" class="form-control" id="{{ name}}" placeholder="{{ placeholder }}">-->
  <input  [formControlName]="validate ? name : null" type="text" class="form-control" id="{{ name}}" placeholder="{{ placeholder ||label }}">

  <div [hidden]="formGroup.controls[name].valid" class="invalid-feedback">
     This is invalid.
  </div>
</div>
