<div *ngIf="allResponses.length !== 0" class="mt-3 border-top">

    <div *ngIf="!editing">
        <h2 class="mt-5 mb-1">All Responses</h2>
        <p class="text-muted">These applicants have responded to the questions and qualifications form you filled earlier.
            <a (click)="editing = true"  class="font-weight-bold ml-3"><i class="fe fe-sliders"></i> Rank Applicants</a>
<!--            <a href="" class="font-weight-bold ml-3"><i class="fe fe-x"></i> Cancel Ranking</a>-->
        </p>
    </div>
    <div *ngIf="editing">
        <h2 class="mt-5 text-success mb-1">Rank Applicants</h2>
        <p class="text-muted">Drag and drop the applicants to rank them. Once you're satisfied,
            <a class="font-weight-bold" (click)="saveRankings()" href="javascript:;">click to save changes</a> otherwise
            <a class="font-weight-bold text-danger" (click)="resetRank()"> click to cancel</a>.
        </p>
    </div>
    <!--        <p>Drag and drop applicants to rank them. Click save rankings when you're done.</p>-->

    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

        <div *ngFor="let response of rankedResponses">
        <div [class.example-box]="editing" [cdkDragDisabled]="!editing" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <!--            {{movie | json }}-->
            <app-ta-response-card [originalQuestions]="originalQuestions"  [noBottomPadding]="true" [compactMode]="editing" [response]="response"></app-ta-response-card>

        </div>
        </div>
    </div>
</div>

<!--<div *ngFor="let response of allResponses" class="col-md-12">-->

<!--    <div class="card">-->
<!--        <div class="card-body">-->

<!--            &lt;!&ndash; List group &ndash;&gt;-->
<!--            <div class="list-group list-group-flush my-n3">-->
<!--                <div class="list-group-item">-->
<!--                    <div class="row align-items-center">-->
<!--                        <div class="col">-->

<!--                            &lt;!&ndash; Title &ndash;&gt;-->
<!--                            <h5 class="mb-0">-->
<!--                                Course Code-->
<!--                            </h5>-->

<!--                        </div>-->
<!--                        <div class="col-auto">-->

<!--                            &lt;!&ndash; Text &ndash;&gt;-->
<!--                            <a [routerLink]="['/courses/' + response.courseCode ]" class="text-muted">-->
<!--                                {{ response.courseCode }}-->
<!--                            </a>-->

<!--                        </div>-->
<!--                    </div> &lt;!&ndash; / .row &ndash;&gt;-->
<!--                </div>-->
<!--                <div class="list-group-item">-->
<!--                    <div class="row align-items-center">-->
<!--                        <div class="col">-->

<!--                            &lt;!&ndash; Title &ndash;&gt;-->
<!--                            <h5 class="mb-0">-->
<!--                                Course Ranking-->
<!--                            </h5>-->

<!--                        </div>-->
<!--                        <div class="col-auto">-->

<!--                            &lt;!&ndash; Time &ndash;&gt;-->
<!--                            <span class="text-muted">-->
<!--                                {{ response.courseRanking }}-->
<!--                            </span>-->

<!--                        </div>-->
<!--                    </div> &lt;!&ndash; / .row &ndash;&gt;-->
<!--                </div>-->
<!--                <div class="list-group-item">-->
<!--                    <div class="row align-items-center">-->
<!--                        <div class="col">-->

<!--                            &lt;!&ndash; Title &ndash;&gt;-->
<!--                            <h5 class="mb-0">-->
<!--                                TA Name-->
<!--                            </h5>-->

<!--                        </div>-->
<!--                        <div class="col-auto">-->

<!--                            &lt;!&ndash; Link &ndash;&gt;-->
<!--                            <span class="text-muted">-->
<!--                                {{ response.taName }}-->
<!--                            </span>-->

<!--                        </div>-->
<!--                    </div> &lt;!&ndash; / .row &ndash;&gt;-->
<!--                </div>-->
<!--                <div class="list-group-item">-->
<!--                    <div class="row align-items-center">-->
<!--                        <div class="col">-->

<!--                            &lt;!&ndash; Title &ndash;&gt;-->
<!--                            <h5 class="mb-0">-->
<!--                                Current Term-->
<!--                            </h5>-->

<!--                        </div>-->
<!--                        <div class="col-auto">-->

<!--                            &lt;!&ndash; Link &ndash;&gt;-->
<!--                            <span class="text-muted">-->
<!--                                {{ response.inTerm }}-->
<!--                            </span>-->

<!--                        </div>-->
<!--                    </div> &lt;!&ndash; / .row &ndash;&gt;-->
<!--                </div>-->
<!--                <div class="list-group-item">-->
<!--                    <div class="row align-items-center">-->
<!--                        <div class="col">-->

<!--                            &lt;!&ndash; Title &ndash;&gt;-->
<!--                            <h5 class="mb-0">-->
<!--                                Prior TA Experience-->
<!--                            </h5>-->

<!--                        </div>-->
<!--                        <div class="col-auto">-->

<!--                            <span class="text-muted">-->
<!--                                {{ response.priorTAExperience }}-->
<!--                            </span>-->

<!--                        </div>-->
<!--                    </div> &lt;!&ndash; / .row &ndash;&gt;-->
<!--                </div>-->
<!--                <div class="list-group-item">-->
<!--                    <div class="row align-items-center">-->
<!--                        <div class="col">-->

<!--                            &lt;!&ndash; Title &ndash;&gt;-->
<!--                            <h5 class="mb-0">-->
<!--                                Attend UWO-->
<!--                            </h5>-->

<!--                        </div>-->
<!--                        <div class="col-auto">-->

<!--                            &lt;!&ndash; Link &ndash;&gt;-->
<!--                            <span class="text-muted">-->
<!--                                {{ response.attendUWO }}-->
<!--                            </span>-->

<!--                        </div>-->
<!--                    </div> &lt;!&ndash; / .row &ndash;&gt;-->
<!--                </div>-->
<!--                <div class="list-group-item">-->
<!--                    <div class="row align-items-center">-->
<!--                        <div class="col">-->

<!--                            &lt;!&ndash; Title &ndash;&gt;-->
<!--                            <h5 class="mb-0">-->
<!--                                Hours Available-->
<!--                            </h5>-->

<!--                        </div>-->
<!--                        <div class="col-auto">-->

<!--                            <span class="text-muted">-->
<!--                                {{ response.hoursAvailable }}-->
<!--                            </span>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div> &lt;!&ndash; / .row &ndash;&gt;-->

<!--                <div class="list-group-item">-->
<!--                    <div class="row align-items-center">-->
<!--                        <div class="col">-->

<!--                            &lt;!&ndash; Title &ndash;&gt;-->
<!--                            <h5 class="mb-0">-->
<!--                                Answers-->
<!--                            </h5>-->

<!--                        </div>-->
<!--                        <div class="col-auto">-->

<!--                            &lt;!&ndash; Link &ndash;&gt;-->
<!--                            <span class="text-muted">-->
<!--                                {{ response.answers }}-->
<!--                            </span>-->

<!--                        </div>-->
<!--                    </div> &lt;!&ndash; / .row &ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
