<div class="row">
  <div class="col-md-8">
    <form (ngSubmit)="submitQuestionsForm()" [formGroup]="testQuestionsForm" novalidate>

      <h2>Test Questions Form</h2>
      <div class="alert alert-light"> This form includes any test questions for the TA you'd like to answer. This can be specific to the course material.</div>

      <text-input [formGroup]="testQuestionsForm" label="Course Code" name="courseCode" validate="true"></text-input>
      <text-input [formGroup]="testQuestionsForm" label="Name" placeholder="Your name" name="instructorName" validate="true"></text-input>
<!--      <text-input [formGroup]="testQuestionsForm" label="Question 1"  name="question1" validate="true"></text-input>-->
<!--      <text-input [formGroup]="testQuestionsForm" label="Question 2"  name="question2" validate="true"></text-input>-->
<!--      <text-input [formGroup]="testQuestionsForm" label="Question 3"  name="question3" validate="true"></text-input>-->


      <div  class="form-group"  [ngClass]="{
    'is-invalid': !testQuestionsForm.controls['questions'].valid && testQuestionsForm.controls['questions'].dirty
}">

        <label  class="form-label">Questions</label>
        <textarea rows="5" formControlName="questions"  class="form-control" placeholder="Enter 1 question per line"></textarea>

        <div [hidden]="testQuestionsForm.controls['questions'].valid" class="invalid-feedback">
          This is invalid.
        </div>
      </div>


      <button [disabled]="testQuestionsForm.invalid" type="submit" class="btn btn-primary">Submit</button>


    </form>
  </div>
</div>



<!--<div>-->

<!--  <form (ngSubmit)="submitQuestionsForm()" novalidate>-->

<!--  <div class="mb-3">-->
<!--      <div style ="color: #9932CC;"><h2>Questions for Applicants</h2></div>-->
<!--      <div style="color: grey;"><i><h5>  Any questions you may have for an applicant to respond to can be determined below. All fields are optional</h5></i>-->

<!--      </div>-->
<!--    </div>-->
<!--    <br>-->
<!--    <div>-->
<!--      <label  class="form-label"><b>Course Code:</b></label>-->
<!--      <input type="text" class="form-control" id="courseCode" placeholder="ex. SE3350">-->
<!--      <label  class="form-label"><b>Your Name</b></label>-->
<!--      <input type="text" class="form-control" id="instructorName" placeholder="Name">-->

<!--      <label  class="form-label"><b>Questions for Applicants:</b></label>-->
<!--      <input type="text" class="form-control" id="questionsFormQ1" placeholder="Question#1">-->
<!--      <input type="text" class="form-control" id="questionsFormQ2" placeholder="Question#2">-->
<!--      <input type="text" class="form-control" id="questionsFormQ3" placeholder="Question#3">-->
<!--      <br>-->
<!--      <button type="submit" class="btn btn-primary">Submit</button>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
