.text-purple {
  color: #4d2387;
}

.dropdown-ellipses {
  color: $text-muted;
}

.scrollable-card {
  max-height: 650px;
  overflow-y: auto;
}

.btn-course:hover {
  background: $gray-200;
}


.navbar-brand-img {
  max-height: 2.7rem !important;
}

.btn-xl {
  font-size: 1.3em;
  padding: 30px;
}


.example-list {
  width: 100%;
  max-width: 100%;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  //padding: 20px 10px;
  //border-bottom: solid 1px #f1f5fb;
  //color: rgba(0, 0, 0, 0.87);
  //display: flex;
  //flex-direction: row;
  //align-items: center;
  justify-content: space-between;
  //box-sizing: border-box;
  cursor: move;
  //background: white;
  //font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px #f9fbfd,
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #f9fbfd;
  border: dotted 3px #c7d3e2;
  min-height: 108px;
  transition: transform 50ms cubic-bezier(0, 0, 0.2, 1);
}

a.nav-link {
  color: $black !important;
}

a.nav-link:hover {
  background: lighten($primary, 55);
  color: $primary !important;
  //font-weight: bold;
}

a.nav-link.active {
  background: lighten($primary, 55);
  color: $primary !important;
  //font-weight: bold;
}

a.nav-link.active:before {
  top: 0 !important;
  bottom: 0 !important;
  border-left-width: 4px !important;
}
