<div class="row">
    <div class="col-md-12">


        <div class="alert alert-light">Click the link on the sidebar to get started!</div>
<!--        <div *ngIf="auth.isDepartment()"  class="row mb-5">-->

<!--            <div class="col-md-4">-->

<!--                <button routerLink="qualifications" class="btn btn-block  btn-xl btn-light btn-lg">Add a new instructor</button>-->

<!--            </div>-->

<!--            <div class="col-md-4">-->
<!--                <button routerLink="test-questions" class="btn btn-white btn-xl  btn-light btn-lg">-->
<!--                    Create a new TA Posting-->
<!--                </button>-->

<!--            </div>-->
<!--        </div>-->



    </div>
<!--    <div *ngIf="auth.isInstructor()" class="col-md-3">-->
<!--        <button routerLink="qualifications" class="btn btn-block btn-info btn-lg">Instructor Postings</button>-->
<!--        <button routerLink="test-questions" class="btn btn-block btn-light btn-lg">Test Questions</button>-->
<!--    </div>-->
</div>
<style>
    .btn-xl {
        font-size: 1.3em;
        padding: 30px;
    }

</style>
