<div class="header">
    <div class="header-body">

        <div class="row align-items-end">
            <div class="col">

                <!-- Title -->
                <h1 class="header-title">
                    All Instructors
                </h1>

            </div>
            <div *ngIf="auth.isDepartment()" class="col-auto">

                <input
                        type="file" class="d-none"
                        (change)="onFileSelected($event)" #fileUpload>

                <div class="file-upload">

                    <!-- Button -->
                    <button (click)="fileUpload.click()" class="btn btn-white lift">
                        <i class="fe fe-upload"></i> Import Instructors
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
<app-all-instructors [filteredInstructors]="allInstructors"></app-all-instructors>
