<h1>Export Instructor Questions</h1>
<p>You are able to <strong>
    <a href="javascript:;" (click)="downloadExcel()">download an excel file</a>
</strong> of all courses and their respective qualifications and questions that the instructor has set.
</p>

<div class="alert alert-light">
    <i class="fe fe-info"></i> <strong> New Beta Feature!</strong>  You're now able to share the instructors' questions to applicants via a link. Their responses will be saved automatically.
</div>

<div class="card card-table">
    <div id="courses" class="table-responsive ">

        <table class="table table-sm">
            <thead>
            <tr>
                <th>Instructor</th>
                <th>Questions</th>
                <th>Required Qualifications</th>
                <th>Required TA Hours</th>
                <th>added</th>
                <th class="text-right">Share</th>
            </tr>
            </thead>

            <tbody class="list">
            <tr *ngFor="let question of allQuestions">
                <td>{{ question.instructor_id.name }}</td>

                <td>
                    <ol *ngIf="question?.questions?.length > 0">
                        <li *ngFor="let q of question.questions">{{ q.question }}
                        </li>
                    </ol>

                </td>

                <td>{{ question.requiredDescription }}</td>
                <td>{{ question.requiredTAHours }} hours</td>
                <td>{{ question.createdAt | dateAgo }}</td>
                <td class="text-right text-nowrap">

                    <button  data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." class="btn btn-sm btn-white">
                        <i class="fe fe-share"></i> Get Link
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

