<h1>Export Instructor Questions</h1>
<p>You can also <strong>
    <a href="javascript:;" (click)="downloadAllExcel()">download an excel file</a>
</strong> of
    <strong>all courses</strong> and their respective qualifications and questions that the instructor has set. Alternatively, you can download it individually.
</p>


<div class="card card-table">
    <div id="courses" class="table-responsive ">

        <table class="table table-sm">
            <thead>
            <tr>
                <th>Instructor</th>
                <th>Questions</th>
                <th>Required Qualifications</th>
                <th colspan="2">added</th>
            </tr>
            </thead>

            <tbody class="list">
            <tr *ngFor="let question of allQuestions">
                <td>{{ question.instructor_id.name }}</td>

                <td>
                    <ol *ngIf="question?.questions?.length > 0">
                        <li *ngFor="let q of question.questions">{{ q.question }}
                        </li>
                    </ol>

                </td>

                <td>{{ question.requiredDescription }}</td>
                <td>{{ question.createdAt | dateAgo }}</td>
                <td class="text-right text-nowrap">

<!--                    <a href="">Download</a>-->
                    <button (click)="downloadExcelForCourse(question)" class="btn btn-sm btn-link">
                        <i class="fe fe-download"></i> Download
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

