<div class="row justify-content-center">


    <div *ngIf="!invalidToken" class="col-12 col-md-5 col-xl-5 my-5">

        <!-- Heading -->
        <h1 class="display-4 text-center mb-3">
            Complete Registration
        </h1>

        <!-- Subheading -->
        <p class="text-muted text-center mb-5">
            You're almost done, {{ user.name }}.
        </p>
        <hr>
        <p class="lead text-muted">
            Your New Email: <strong class="ml-5">{{ user.username  + '@uwo.ca' }}</strong>
        </p>
        <small>You'll use this to login to this site.</small>
        <hr class="mb-5">


        <form (ngSubmit)="register()" novalidate [formGroup]="this.auth.passwordForm">

            <div class="form-group">

                <label>Choose a New Password</label>


                <div class="input-group input-group-merge">

                    <input [ngClass]="{

    'is-invalid': !formControls.password.valid && formControls.password.dirty
}" formControlName="password"  type="password" class="form-control form-control-appended" placeholder="Choose a password">

                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fe fe-eye"></i>
                        </span>
                    </div>
                    <div [hidden]="formControls.password.valid" class="invalid-feedback">
                        Please enter a new password.
                    </div>

                </div>


            </div>

            <button  [disabled]="this.auth.passwordForm.invalid"
                     type="submit" class="btn btn-lg btn-block btn-primary mb-3">
     <i class="fe fe-check"></i>   Finish Registration
            </button>

        </form>


    </div>

    <div class="col-8" *ngIf="invalidToken">
        <div class="alert alert-danger">
            That token does not exist or has expired.
        </div>
    </div>

</div>
